$background-color__grey: #e5e5e5;
$background-color__light-red: #eee0de;
$background-color__light-green: #d3f5b4;

$text-color: #000;
$text-color__red: #c44e45;

$border-color__grey: #cecece;
$border-color__black: #3b393a;

$font-size-large: 50px;
$font-size-medium: 24px;

$font-weight-bold: 800;
